<plugin name='coffeescript-resources' version='0.4.1.rob' grailsVersion='2.1.1 &gt; *'>
  <author>Edvinas Bartkus</author>
  <authorEmail>edvinas@geeks.lt</authorEmail>
  <title>CoffeeScript Resources</title>
  <description>Plugin that automatically compiles CoffeeScript to JavaScript and works with the resources plugin.</description>
  <documentation>http://github.com/edvinasbartkus/grails-coffeescript-resources</documentation>
  <type>CoffeescriptResourcesGrailsPlugin</type>
  <resources>
    <resource>CoffeeScriptResourceMapper</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.mozilla' name='rhino' version='1.7R3' />
    </runtime>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='resources' version='1.0 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>